
<%- include("../partials/header")%>
<%- include("../partials/navbar")%>
<link href="/css/app.css" rel="stylesheet" >


<main class="container" style="margin-top: 5rem;">
  <%- include("../partials/flash")%>


 
    <div class="row " style="min-height:80vh">
       <h4 class="display-6 mb-3" style="max-height:5vh;display:inline-block;"> <i class="fas fa-book-reader" style="margin-right: 20px;"></i>Search Results for <%= topic %></h4>
       
       <br>
        <div class="col-md-8 sm-12">
          <% if(srchResult.links.length>0) {%>
          <%for(let blog of srchResult.links){%>
            <div class="card mb-5" >
              <div class="row no-gutters">
                <div class="col-md-4 col-sm-12">
                  <img src="<%= blog.imgCover.url %>" class="card-img col d-flex align-items-center justify-content-center"  alt="...">
                </div>
                <div class="col-md-8 col-sm-12">
                  <div class="card-body">
                    <h5 class="card-title m-0 p-0" style="max-height:4vh;"><%= blog.title %></h5>
                    <p class="card-text m-0 p-0" style="max-height:7vh;  overflow:hidden;   text-overflow: ellipsis;"><%= blog.desc %>...</p>
                    <p><small class="text-muted">3 mins read</small></p>
                    
                    <% var i=0 %>
                    <%for(let tag of blog.tags){%>
                      <% if(i==5) {break;} %>
                      <% if(tag.length<3){continue;} %> 
                       <p  class="badge rounded-pill bg-secondary" style="font-size:0.8rem"><%= tag %></p>
                      <% i+=1;}%>
                    <p class="text-center" style="max-height:5vh;display:inline-block;">
                      <a href="/blogs/<%= blog._id %>" class="btn btn-dark ">View Article>></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <%} } else {%>
              <img src="/img/noRslt.gif" class="card-img col d-flex align-items-center justify-content-center" style="height:20vh;width:20vh" alt="...">
              <h4 class="display-6 mb-3">No Results... , try something else</h4>
              <% }%>
        
        
           
  </div>

  

    </div>


</main>

    
<%- include("../partials/footer")%>